{% extends 'base.html' %}{% block content1 %}
{% for a in po %}
<img src=" {{ a.image }}" height="250" width="300">
{% endfor %}
{% for a in ap %}
<div class="container my-4 mx-4 col-12">
<div class="card">
  <div class="card-header">
  </div>
  <div class="card-body text-center">
      <!--<img src=" {{ a.image.url }}" height="250" width="300">-->
      <h5 class="card-title"><a href="{% url 'show' a.id %}">{{a.heading}}</a></h5>
    <p class="card-text">{{a.content|truncatechars:250}}<a class="btn btn-outline-success" href="{% url 'show' a.id %}">..............view more</a></p>
  <hr><h6>written by
      <a class="btn btn-outline-success" href="{% url 'ghost' a.author %}">{{a.author}}{{a.first_name}}</a></h6>
    <p>at {{a.date}}</p></div>
</div></div></div>
{% endfor %}
{% endblock %}
