{% extends 'base.html' %}

{% block content %}
<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<hr>
		<p>Enter Your New password.</p>
    </div>
    {% endblock %}
    {% block content1 %}
        <form class="row gy-2 gx-3 align-items-center" method="POST"><div class="mx-auto" style="width: 500px">
            {% csrf_token %}
            {{ form }}<br>
            <br><button type="submit" class="btn btn-outline-success row-6 my-1" value="submit">Reset</button>
   <a href="{% url 'register' %}" class="btn btn-outline-success col-6">Sign-up</a>
    <a href="{% url 'login' %}" class="btn btn-outline-success my-2 col-6">log-in</a>
        </div>
        </form>

{% endblock %}
