{% extends 'base.html' %}{% load crispy_forms_tags %}{% block content1 %}{% if user.is_authenticated %}
<h2 class="text-center my-4">you are already logged-in</h2>
{% else %}
{% if messages %}
    {% for a in messages %}
    <div class="container-fluid bg-light">
        <div class="text-center text-info ">
            <span {% if a.tags %} class="{{a.tags}}" {% endif %}>{{a}}</span></div>
        {% endfor %}{% endif %}
    </div>
<form class="row gy-2 gx-3 align-items-center" method="POST">{% csrf_token %}
<div class="mx-auto" style="width: 500px">
{{bk|crispy}}
<br><button type="submit" class="btn btn-outline-success row-6" value="submit">Sign-up</button>
<a href="{% url 'login' %}" class="btn btn-outline-success col-6">log-in</a>
    <a href="{% url 'password_reset' %}" class="btn btn-outline-success my-2 col-12">Forgot Password</a>

</div>

</form>{% endif %}
{% endblock %}